<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="#"/>
		<link type="text/css" rel="stylesheet" href="{{.WebPath}}/static/css/style.css">
		<link type="text/css" rel="stylesheet" href="{{.WebPath}}/static/css/modal.css">
	</head>
	<body>
		<h2>Directory : {{.Dir}}</h2>
		<button class=btn onclick="showModal('UploadModal')">Upload</button>
		<div style="float: right; margin-right: 40px">
  			{{.NItems}} items
		</div>
		<table id=filetable>
			<tr>
				<th id=th_name data-sortorder="1">
					<img class=icon src="{{.WebPath}}/static/icons/sort.svg" onclick="sortTable('name')"/>Name
				</th>
				<th id=th_type data-sortorder="1">
					<img class=icon src="{{.WebPath}}/static/icons/sort.svg" onclick="sortTable('type')"/>Type
				</th>
				<th id=th_size data-sortorder="1">
					<img class=icon src="{{.WebPath}}/static/icons/sort.svg" onclick="sortTable('size','num')"/>Size
				</th>
				<th class="hide"></th>
				<th id=th_modtime data-sortorder="1">
					<img class=icon src="{{.WebPath}}/static/icons/sort.svg" onclick="sortTable('modtime','date')"/>Last Modified
				</th>
				<th class="hide"></th>
				<th>
					More Actions
				</th>
			</tr>
            
            {{range .Items}}
			<tr>
				<td><a href="{{.Name}}">{{.Name}}</a></td>
                <td>{{.Type}}</td><td>{{.Size}}</td><td style="display: none;">{{.RawSize}}</td>
                <td>{{.ModTime}}</td><td style="display: none;">{{.RawModTime}}</td>
				<td>
					<img class="more icon linksvg" src="" onclick="copyTextAsURL('{{.Name}}')"/>

					{{ if (eq .Type "File") }}
					<a class="more ziplink" name="{{.Name}}"><img class="more icon zipsvg" src=""/></a>
					{{ else }}
					<a class="more ziplink" name="{{.Name}}/"><img class="more icon zipsvg" src=""/></a>
					{{ end }}

					<a class=more onclick="showQR('/{{.Name}}')"><img class="more icon qrsvg" src=""/></a>
					<img class="more icon termsvg" src=""/>

					{{ if (eq .Type "File") }}
					<a class="more sha1link" name="{{.Name}}"><img class="more icon hashsvg" src=""/></a>
					{{ end }}
				</td>
			</tr>
            {{end}}
		</table>

		<div id="QRModal" class="modal">
			<span class="close" onclick="hideModal('QRModal')">&times;</span>
			<div class=qr>
				<div id="qrcode"></div>
				<div id="caption" class="caption"></div>
			</div>
			<div class=qr>
				<div id="zipqrcode"></div>
				<div id="zipcaption" class="caption"></div>
			</div>
		</div>

		<div id="UploadModal" class="modal">
			<span class="close" onclick="hideModal('UploadModal')">&times;</span>
			<div class="upload">
				<div class=up_form>
					<form ENCTYPE=multipart/form-data name=upload-form method=post>
						<input name=file type="file"/>
						<input class=btn type=submit value="upload" onclick=submitForm()/>
					</form>
				</div>
				<div class=up_cmd>
					<code id=up_curl></code>
					<img class=icon src="{{.WebPath}}/static/icons/clip.svg" onclick="copyTextById('up_curl')"/>
				</div>		
			</div>
		</div>

		<div class="hide">
			<p id="baseURL">{{.Scheme}}://{{.IP}}:{{.Port}}</p>
			<p id="webPath">{{.WebPath}}</p>
			<p id="zipPath">{{.ZipPath}}</p>
			<p id="sha1Path">{{.SHA1Path}}</p>
		</div>
	<script src="{{.WebPath}}/static/js/app.js"></script>
	<script src="{{.WebPath}}/static/js/qrcode.min.js"></script>
	</body>
</html>