<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{.WebPath}}/static/css/style.css">
		<link type="text/css" rel="stylesheet" href="{{.WebPath}}/static/css/modal.css">
	</head>
	<body>
		<h2>Directory : {{.Dir}}</h2>
		<div id=upload>
			<div style="float: left;">
				<form ENCTYPE=multipart/form-data id=upload-form method=post onclick=submitForm()>
					<input name=file type="file"/>
					<input type=submit value="upload"/>
				</form>
			</div>
			<div style="float: right; margin-right: 40px">
				<code id=uploadcmd></code>
				<button onclick=copyText()>copy</button>
			</div>
		</div>
		<div style="float: right; margin-right: 40px">
  			{{.NItems}} items
		</div>
		<table id=filetable>
			<tr>
				<th class=qr>QR</th>
				<th id=th_name onclick="sortTable('name')"><span>Name</span></th>
				<th id=th_type onclick="sortTable('type')"><span>Type</span></th>
				<th id=th_size onclick="sortTable('size','num')"><span>Size</span></th>
				<th class="hide"></th>
				<th id=th_modtime onclick="sortTable('modtime','date')"><span>Last Modified</span></th>
				<th class="hide"></th>
			</tr>
            
            {{range .Items}}
			<tr>
				<td class=qr>
					<button onclick="showQR('{{.ZipPath}}')">ZIP</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button onclick="showQR('/{{.Name}}')">RAW</button>
				</td>
				<td>
					<a href="{{.ZipPath}}">ZIP</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="{{.Name}}">{{.Name}}</a>
				</td>
                <td>{{.Type}}</td><td>{{.Size}}</td><td style="display: none;">{{.RawSize}}</td>
                <td>{{.ModTime}}</td><td style="display: none;">{{.RawModTime}}</td>
			</tr>
            {{end}}

		</table>
		<div id="modalPopUp" class="modal">
			<span class="close">&times;</span>
			<div id="qrcode"></div>
			<div id="caption"></div>
		  </div>
		<p class="hide" id="baseURL">{{.IP}}:{{.Port}}</p>
		<p class="hide" id=sort_name>1</p>
		<p class="hide" id=sort_type>1</p>
		<p class="hide" id=sort_size>1</p>
		<p class="hide" id=sort_modtime>1</p>
	<script src="{{.WebPath}}/static/js/app.js"></script>
	<script src="{{.WebPath}}/static/js/qrcode.min.js"></script>
	</body>
</html>