body {
    font-family: arial, sans-serif;
    font-weight: 300;
    line-height: 1.625;
    color: #555;
    margin-left: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    box-sizing: content-box;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #111;
    width: calc(100% - 40px);
}

a {
    color: #17a2b8;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #dc3545;
}

.btn {
    color: #17a2b8;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #17a2b8;
    padding: .375rem .75rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #17a2b8;
}

.btn:active {
    background-color: #107d8e;
}

img {
    margin: auto;
    border: 10px solid white;
}

th {
    height: 20px;
    border-bottom: 1px solid #111;
    border-top: 1px solid #dee2e6;
    padding-left: 5px;
}

.icon {
    border: 0px solid transparent;
    height: 0.7em;
    padding-top: 5px;
    padding-right: 2px;
    cursor: pointer;
}

.icon:hover {
    filter: invert(50%);
}

.icon:active {
    filter: none;
}

td {
    height: 30px;
    min-width: 100px;
    max-width: 300px;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

code {
    background-color: #efefef;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    line-height: 2;
    margin-right: 5px;
}

.hide {
    display:none;
}

.upload {
    height: 50px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.up_cmd, .up_form {
    padding: 20px;
    background-color: white;
}

.qr {
    height: 60%;
    width: 50%;
    background-color: white;
}

.more {
    height: 20px;
}