 /* ELEMENTS */
a {
    color: #17a2b8;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #dc3545;
}

.btn {
    color: #17a2b8;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #17a2b8;
    padding: .375rem .75rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #17a2b8;
}

.btn:active {
    background-color: #107d8e;
}

.icon {
    height: 0.7em;
    padding-top: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.icon:hover {
    filter: invert(50%);
}

.icon:active {
    filter: none;
}
 /* ELEMENTS */

 /* BIG DIVS */
.main {
    width: calc(100%-20px);
    margin-left: 20px;
    margin-right: 20px;

    font-family: arial;
    line-height: 1.625;
    color: #555;
}

.nav {
    position: relative;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    /* background-color: rgb(122, 122, 151); */
}

.abovetable {
    position: relative;
    width: 100%;
    height: 1.7em;
    /* background-color: rgb(172, 194, 151); */
}

/* .listing {
    background-color: rgb(211, 167, 137);
} */

.footer {
    width: 100%;
    padding-top: 5px;
    text-align: center;
    color: #107d8e;
    font-weight: bold;
    /* background-color: rgb(185, 115, 226); */
}

.hide {
    display: none;
}
/* BIG DIVS */

/* NAV */
.path {
    float: left;
}

.filtersearch {
    float: right;
}

.navicon {
    height: 1.5em;
    width: 1.5em;
}

.navbtn {
    padding-top: 5px;
    padding-left: 0px;
    color: #17a2b8;
    background-color: transparent;
    border: 0px solid transparent;
}

.navbtn:hover {
    color: #dc3545;
    cursor: pointer;
}

.navbtn:active {
    color: #107d8e;
}

.filtersearchinput {
    line-height: 1.7em;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 1px;
    border: 1px solid;
}

.filtersearchbtn {
    vertical-align: bottom;
    border: 1px solid;
    padding: 3px;
    height: 2em;
    color: #555;
}
/* NAV */

/* ABOVETABLE */
.commands {
    float: left;
}

.info {
    float: right;
}
/* ABOVETABLE */

/* TABLE */
table {
    border-spacing: 0;
    text-align: left;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #111;
    width: 100%;
}

th {
    border-bottom: 1px solid #111;
    border-top: 1px solid #dee2e6;
}

td {
    height: 30px;
    min-width: 75px;
    max-width: 300px;
    border-top: 1px solid #dee2e6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

.more {
    height: 20px;
}
/* TABLE */

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 7%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
  }
  
.modal-content {
    margin: auto;
    display: block;
}

.caption {
    margin: auto;
    text-align: center;
    padding: 10px 0;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #495057;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* MODAL */